/* 
	color scheme 2
	triadic color scheme
*/
:root {
	--main-hue: 261; /* blue */
	--main-color: hsl(var(--main-hue), 100%, 77%);
		
	--accent-one-hue: calc(var(--main-hue) - 235);
	--accent-one: hsl(var(--accent-one-hue), 100%, 77%);
		
	--accent-two-hue: calc(var(--main-hue) - 205);
	--accent-two: hsl(var(--accent-two-hue), 100%, 77%);
}

#title {
	color: var(--main-color);
}
	
.post {
	color: var(--main-color);
	border: 4px solid var(--accent-two);
	padding: 1em;
}
	
.author, .date {
	color: var(--accent-one);
}

#menu a{
    color:var(accent-color);
    transition: color 300ms ease-in;
}
#menu a:hover{
    color: var(--main-color);
        
}
#submit-post{
    color: var(--accent-one);
     background: var(--main-color);
}

#submit-login{
    color: var(--main-color);
}
#submit-sign-up{
    color: var(--main-color);
}

#login input, #sign-up input{
    background:var(--main-color);
    color: var(--text-color);
        padding:0.25em;