#container{
    background-color: coral;
    width:960px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, max-content);
    grid-gap: 1em;
    
    grid-template-areas:
        "posts posts post"
        "main main sign "
        "header header login"
}

#title{
    grid-area:header ;
    background-color:aqua; 
    
}

#menu{
    grid-area: main;
    background-color:gold;
}

#posts{
    grid-area: posts;
    background-color:sienna;
}
#post{
    grid-area: post;
    background-color:khaki;
}
#login{
    grid-area: login;
    background-color:violet;
}
#sign-up{
    grid-area: sign;
    background-color:lightcoral;
}