/* menu flex box */
#menu-list {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
	padding: 19px;
	list-style: square;
	display: flex;
	align-items: center;
    margin-top: 1em;
    
    
    
    
	
}


#menu-list li   {
	margin-left: 1em;
    color: #F1A94E;
    

}



