
/*Mobile devices*/

@media (max-width: 400px) {
    #container {
        grid-template-column:
        1fr;
        background-color: darkgoldenrod;
        
    }
    
    #title, #login, #sign-up, #menu, #post, #posts, #footer{
        grid-column:1;
    }
    
    #title{
       grid-row:1; 
    }
    
     #login{
       grid-row:3; 
    }
    
    #sign-up{
       grid-row:2;
    }
    
     #menu{
       grid-row:4; 
    }
    
     #post{
       grid-row:5;
    }
    
     #posts{
       grid-row:6; 
    }
    
    #footer{
        
        grid-row:9;
    }
    
    #menu-list {
	padding: 0;
	list-style: none;
	display: flex;
    flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
    flex-wrap: no-wrap;
    
    
    
	
}


#menu-list li   {
/*	margin-left:;*/
    color: #F1A94E;

}

#menu-list li a  {
    color: #F1A94E;

}
}

/*Tablet*/
@media (min-width: 401px) and 
    (max-width: 800px){
        #container{
            width: 100%;
            background-color: beige;
        }
        
        #title{
            grid-column: 1;
            grid-row:1; 
        }
        
        #post {
            grid-column:1/ span 1;
            grid-row:3;
        }
        
         #posts {
            grid-column:1 / span 3;
            grid-row:4;
        }
        
          #sign-up{
            grid-column:3;  
            grid-row:1;
        }
        
         #login {
            grid-column:2;
            grid-row:1;
        }
        
         #menu {
            grid-column:3;
            grid-row:3;
        
             
             
        
}
        #menu-list {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
	padding: 19px;
	list-style: square;
	display: flex;
	align-items: flex-end;
    margin-top: 1em;
    
    
    
    
	
}


#menu-list li   {
	margin-left: 1em;
    color: #F1A94E;
    

}

}