/*@import url('https://fonts.googleapis.com/css?family=Caudex:400,400i,700|Josefin+Slab:300,400,700');*/

/* font-family: 'Josefin Slab', serif; */
/* font-family: 'Caudex', serif; */

/** { box-sizing: border-box; }*/


.post-text{
    font-size:1.25em;
}
.post-info{
    color: gold;
}


/* adaptive */
/*
@media (max-width: 400px) {
	body {
		font-size: 14px;
		line-height: 1.2;
	}
	
	.post-text {
		font-size: 1.25em;
	}
}
*/

/*
@media (max-width: 401px) and (min-width: 800px) {
	body {
		font-size: 16px;
	}
}

 viewport sizing 
#title h1 {
	font-size: 5vw;
}

.post-text {
	font-size: 3vmax;
}

@media (max-width: 400px) {
	#title h1 {
		font-size: 8vw;
	}
	.post-text {
		font-size: 3vmax;
	}
}*/
